<img src="/poster/18CB2966" width="100%" class="mb-3" />

<div class="main-container text-center">
  <nav class="my-2 my-md-0 mr-md-3">
    <%_ queries.forEach(function(query) { -%>
    <a class="pb-2 d-block" href="<%= query.url %>"><%= query.text %></a>
    <%_ }) -%>
  </nav>
</div>